@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html{
	scroll-behavior: smooth;
}

body{
	font-family: 'Poppins', sans-serif;
}
/*navbar start*/

.logo{
	width: 30px;
	height: 30px;
}

/*navbar end*/

/*home section start*/
#home{
    height: 100vh;
    
    background-image: url('https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
   
}

.content{
    position: absolute;
    top: 50%;
    right: 8%;
}
.content h1{
    font-size: 3.5rem;
    font-weight: 700;
}
.content h3{
    font-size: 2.4rem;
    font-weight: 500;
    
}
.content h4{
    font-size: 1.5rem;
}

/*home section end*/

/*Project Section Start*/
.card-style{
	width: 18rem;
}
/*Project Section End*/

/*Footer Section Start*/
footer{
	height: 10vh;
	font-size: 1.2rem;
	font-weight: 600;
}
.icons{
	width: 100%;
	display: inline-block;

	
}
.icons i{
	font-size: 2rem;
	
}
@media screen and (min-width: 300px) {
  footer {
  	height: 15vh;
    font-size: .8rem;
  }
}

@media screen and (min-width: 900px) {
 footer {
  	height: 10vh;
    font-size: 1rem;
  }

}
@media screen and (min-width: 1024px) {
 footer {
  	height: 10vh;
    font-size: 1.4rem;
  }

}

/*Footer Section End*/